<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="grid grid-1col" style="gap: 0px">
      <div class="grid grid-3col">
        {{!-- Top header --}}
        <div class="flex-group-right grid-span-3">
          <h1 class="charname">
            <input class="title-punk" name="name" type="text" value="{{actor.name}}" placeholder="Name" />
          </h1>
        </div>
      </div>
      {{!-- Mid Header --}}
      <div class="grid grid-4col" style="gap: 0px; column-gap: normal;">
        {{!-- left mid header --}}
        <div class="grid-span-1" style="display: grid; gap: inherit;">
          {{#each equipped as |item key|}}
          {{#if (eq @index 0)}}
          <div class="resource flex-group-center">
            <div class="resource-content flexrow flex-center flex-between">
              <div class="resource-balas item" data-item-id="{{item._id}}" data-roll-type="attack"
                data-tooltip="{{item.name}}">
                <img class="rollable" data-item-id="{{item._id}}" data-roll-type="attack" src="{{item.img}}"
                  class="background" data-tooltip="{{item.name}}" style="object-fit: cover;
    /* width: 20%; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    clip-path: circle(50% at center);
    transform: translate(-50%, -50%) scale(0.7);
    top: 50%;
    left: 50%;">
                <img class="rollable rollable-icon" data-item-id="{{item._id}}" data-roll-type="attack"
                  src="/systems/punkapocalyptic/assets/icons/icon-slot.png" class="foreground" alt="Foreground" style="object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    mask-image: url(/systems/punkapocalyptic/assets/icons/icon-slot.png);
    -webkit-mask-image: url(/systems/punkapocalyptic/assets/icons/icon-slot.png);
    mask-size: cover;
    mask-position: center;
    mask-repeat: no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);">
              </div>
            </div>
          </div>
          {{/if}}
          {{/each}}
          <div class="resource flex-group-center">
            <div class="resource-content flexrow flex-center flex-between">
              <div class="resource-balas" data-tooltip="{{localize "PUNKAPOCALYPTIC.SheetLabels.Defense"}}" style="background-image: url(/systems/punkapocalyptic/assets/icons/icon-defense.png); background-size: contain;
      background-position: center;
      background-repeat: no-repeat; ">
                <input class="bold-text" type="text" name="system.defense.current" value="{{system.defense.current}}" data-dtype="Number"
                  style="z-index:9999;" readonly />
              </div>
            </div>
          </div>
          <div class="resource flex-group-center"></div>
          <div class="resource flex-group-center"></div>
          <div class="resource flex-group-center"></div>

        </div>
        {{!-- center mid header --}}
        <div class="flex-group-center grid-span-2 ">
          <div class="profile-img" title="{{actor.name}}" data-img="{{actor.img}}" style="min-height: 280px; height: 100%;
    width: 100%; box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    background: 
    radial-gradient(circle, transparent 40%, rgba(0, 0, 0, 0.7) 100%),
    url('/{{actor.img}}');
  background-size: cover;
  /*background-size: 100% auto;*/
    background-repeat: no-repeat;
  background-position: topf; position: relative; text-align: left">
            {{#each showeffects as |effect| }}
            <img src="{{effect.img}}" data-tooltip="{{effect.name}}" style="
    width: 24px;
    height: 24px;
    left: 0; border: 0px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
">
            {{/each}}



          </div>
        </div>
        {{!-- right mid header --}}
        <div class="flex-group grid-span-1" style="display: grid; gap: inherit;">
          {{#each equipped as |item key|}}
          {{#if (eq @index 1)}}
          <div class="resource flex-group-center">
            <div class="resource-content flexrow flex-center flex-between">
              <div class="resource-balas item" data-item-id="{{item._id}}" data-roll-type="attack"
                data-tooltip="{{item.name}}">
                <img class="rollable" data-item-id="{{item._id}}" data-roll-type="attack" src="{{item.img}}"
                  class="background" data-tooltip="{{item.name}}" style="object-fit: cover;
    /* width: 20%; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    clip-path: circle(50% at center);
    transform: translate(-50%, -50%) scale(0.7);
    top: 50%;
    left: 50%;">
                <img class="rollable rollable-icon" data-item-id="{{item._id}}" data-roll-type="attack"
                  src="/systems/punkapocalyptic/assets/icons/icon-slot.png" class="foreground" alt="Foreground" style="object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    mask-image: url(/systems/punkapocalyptic/assets/icons/icon-slot.png);
    -webkit-mask-image: url(/systems/punkapocalyptic/assets/icons/icon-slot.png);
    mask-size: cover;
    mask-position: center;
    mask-repeat: no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);">
                <!--img src="{{item.img}}" class="item-icon rollable" data-item-id="{{item._id}}" data-roll-type="attack"
                  data-formula="{{item.system.roll.formula}}" data-damage-formula="{{item.system.damage.formula}}"
                  style="border: 0; height: 50px;" /-->
              </div>
            </div>
          </div>
          {{/if}}
          {{/each}}
          {{!-- mojo --}}
          <div class="resource flex-group-center">
            <div class="resource-content flexrow flex-center flex-between">
              <div class="resource-balas" style="background-image: url(/systems/punkapocalyptic/assets/icons/icon-mojo.png); background-size: contain;
      background-position: center;
      background-repeat: no-repeat; ">
                <input class="bold-text"  type="text" name="system.mojo.current" value="{{system.mojo.current}}" data-dtype="Number"
                  style="z-index:9999;" data-tooltip="{{localize "PUNKAPOCALYPTIC.SheetLabels.MojoCurrent"}}" />
                <input type="text" name="system.mojo.max" value="{{system.mojo.max}}" data-dtype="Number" style="z-index:9999; position: absolute;
    margin-top: 55px;
    border: 2px solid #000;
    border-radius: 50%;
    width: 30px;
    margin-left: +25%;
    background-color: #dcd9ce;
    font-size: medium;
    height: 30px;" data-tooltip="{{localize "PUNKAPOCALYPTIC.SheetLabels.MojoMax"}}" />

              </div>

            </div>
          </div>
          {{!-- missions --}}
          <div class="resource flex-group-center">
            <div class="resource-content flexrow flex-center flex-between">
              <div class="resource-balas" style="background-image: url(/systems/punkapocalyptic/assets/icons/icon-mission.png); background-size: contain;
      background-position: center;
      background-repeat: no-repeat; ">
                
                <input class="bold-text" type="text" name="system.missions" value="{{system.missions}}" data-dtype="Number" data-tooltip="{{localize "PUNKAPOCALYPTIC.SheetLabels.Mission"}}"  />
    <i class="fa-solid fa-turn-up pc-progress boxhover" data-tooltip="{{localize "PUNKAPOCALYPTIC.SheetLabels.MissionProgress"}}" style="z-index:9999; position: absolute;
    margin-top: 55px;
    border: 2px solid #000;
    border-radius: 50%;
    width: 30px;
    margin-left: +25%;
    background-color: #dcd9ce;
    font-size: medium;
    height: 30px;
    padding-top: 5px;
    padding-left: 1px;"></i>

              </div>

            </div>
          </div>
          <!--div class="resource flex-group-center"></div-->
          <div class="resource flex-group-center"></div>
          <div class="resource flex-group-center"></div>
        </div>
        <div class="flex-group-center grid-span-1" style="display: grid; gap: inherit;">
        </div>

        <div class="grid-span-1 grid-span-2" style="display: grid; gap: inherit;">

          <div class="flex-group-center grid-span-2">
            <div class="progress-container">
              <div class="progress-bar" id="progress1" style="{{healthStyle system.health.value system.health.max}}">
              </div>
              <div class="progress-text" id="text1">
                <div class="grid-span-3 flexrow flex-group-center">
                  <input style="color: white;; font-weight: bold; text-size: small" type="text" class="vida"
                    name="system.health.value" value="{{system.health.value}}"
                    data-tooltip="{{localize "PUNKAPOCALYPTIC.SheetLabels.HealthCurrent"}}">
                  <p style="font-size: 25px;">/</p>
                  <p style="font-size: 25px;"> {{system.health.max}}</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>



      <div class="grid-span-3" style="display: grid; gap: inherit;">

        <p class="pc-background">
          <input class="backgroundname" name="background.name" type="text" value="{{background_name}}"
            placeholder="Background" data-dtype="String" readonly />
        </p>

      </div>

      <div class="grid-span-3" style="display: grid; gap: inherit;">
        <div class="resources grid grid-6col">
          {{#each system.resources as |resource key|}}
          <div class="resource flex-group-center">
            <div class="resource-content flexrow flex-center flex-between">
              <div class="resource-balas" data-tooltip="{{localize (lookup @root.config.resources key)}}" style="background-image: url({{resource.icon}}); background-size: contain;
      background-position: center;
      background-repeat: no-repeat;">
                <input class="bold-text" type="text" name="system.resources.{{key}}.value" value="{{resource.value}}" data-dtype="Number"
                  style="z-index:9999;" />
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs nav-punk" data-group="primary">
      <a class="item header-tab" data-tab="main">{{localize "PUNKAPOCALYPTIC.SheetLabels.Main"}}</a>
      <a class="item header-tab" data-tab="inventory">{{localize "PUNKAPOCALYPTIC.SheetLabels.Inventory"}}</a>
      <a class="item header-tab" data-tab="features">{{localize "PUNKAPOCALYPTIC.SheetLabels.Benefits"}}</a>
      <a class="item header-tab" data-tab="mutations">{{localize "PUNKAPOCALYPTIC.SheetLabels.Mutations"}}</a>
      <a class="item header-tab" data-tab="background">{{localize "PUNKAPOCALYPTIC.SheetLabels.Background"}}</a>
      <a class="item header-tab" data-tab="effects">{{localize "PUNKAPOCALYPTIC.SheetLabels.Effects"}}</a>

    </nav>
    <div class="tab main grid-span-2" data-group="primary" data-tab="main">
      <div class="grid grid-2col">
        <!--div class="grid-span-1"></div-->
        <div class="grid-span-2">
          <div class="abilities flexcol grid-2col">
            {{#each system.abilities as |ability key|}}

            <div class="ability flexrow flex-group-center {{key}}">
              <div><img src="{{ability.img}}" class="ability-icon-pc" style="width: 24px; height: 24px; border: 0px;" />
              </div>
              <label for="system.abilities.{{key}}.value" class="ability-name-pc rollable flexlarge align-left"
                data-roll="d20+@abilities.{{key}}.mod" data-ability-id="{{key}}" data-roll-type="ability"
                data-label="{{localize (lookup @root.config.abilities key)}}"
                data-tooltip="{{ability.tooltip}}">{{localize (lookup @root.config.abilities
                key)}}</label>
              <input class="ability-value-pc" type="text" name="system.abilities.{{key}}.value"
                value="{{ability.value}}" data-dtype="Number" />
              <span class="ability-mod-pc rollable" data-roll="d20+@abilities.{{key}}.mod"
                data-label="{{localize (lookup @root.config.abilities key)}}">{{numberFormat ability.mod decimals=0
                sign=true}}</span>
            </div>

            {{/each}}
            <!-- otherAttributes -->
            {{#each system.otherAttributes as |ability key|}}
            <div class="ability flexrow flex-group-center {{key}}">
              <div><img src="{{ability.icon}}" class="ability-icon-pc"
                  style="width: 24px; height: 24px; border: 0px;" /></div>
              <label for="system.otherAttributes.{{key}}.base" class="ability-name-pc flexlarge align-left"
                data-roll="d20+@otherAttributes.{{key}}.bonus"
                data-label="{{localize (lookup @root.config.otherAttributes key)}}"
                data-tooltip="{{ability.tooltip}}">{{localize (lookup @root.config.otherAttributes
                key)}}</label>
              <span class="ability-mod-pc" data-roll="d20+@otherAttributes.{{key}}.base"
                data-label="{{localize (lookup @root.config.otherAttributes key)}}"
                data-tooltip="Valor base">{{ability.base}}</span>
              <input class="ability-value-pc" type="text" name="system.otherAttributes.{{key}}.current"
                data-tooltip="Valor corrente de {{localize (lookup @root.config.otherAttributes key)}}"
                value="{{ability.current}}" data-dtype="Number" />
            </div>
            {{/each}}
            <div class="ability flexrow flex-group-center speed">
              <div><img src="{{system.speed.img}}" class="ability-icon-pc"
                  style="width: 24px; height: 24px; border: 0px;" /></div>
              <label for="system.speed.current" class="ability-name-pc flexlarge align-left"
                data-roll="d20+@speed.current" data-label="{{system.speed.label}}"
                data-tooltip="{{system.speed.label}}">{{system.speed.label}}</label>
              <span class="ability-mod-pc" data-roll="d20+@speed.current" data-label="{{system.speed.label}}"
                data-tooltip="Valor base">{{system.speed.base}}</span>
              <input class="ability-value-pc" type="text" name="system.speed.current" value="{{system.speed.current}}"
                data-dtype="Number" />
            </div>

          </div>
        </div>
        <!--div class="grid-span-1"></div-->
      </div>

    </div>

    <div class="tab inventory grid-span-2" data-group="primary" data-tab="inventory">
      {{> "systems/punkapocalyptic/templates/actor/parts/actor-inventory.hbs"}}
    </div>

    <div class="tab features grid-span-2" data-group="primary" data-tab="features">
      {{> "systems/punkapocalyptic/templates/actor/parts/actor-benefits.hbs"}}
    </div>

    <div class="tab mutations grid-span-2" data-group="primary" data-tab="mutations">
      {{> "systems/punkapocalyptic/templates/actor/parts/actor-mutations.hbs"}}
    </div>

    <div class="tab features grid-span-2" data-group="primary" data-tab="background">
      {{> "systems/punkapocalyptic/templates/actor/parts/actor-background.hbs"}}
      <div>
        <h2>{{localize "PUNKAPOCALYPTIC.SheetLabels.Notes"}}</h2>
        {{editor enrichedBiography target="system.biography" engine="prosemirror" button=true editable=editable
        class="bold-text" }}
      </div>
    </div>
    <div class="tab features grid-span-2" data-group="primary" data-tab="effects">
      {{> "systems/punkapocalyptic/templates/actor/parts/actor-effects.hbs"}}
    </div>


  </section>
</form>
