<form class='{{cssClass}}' autocomplete='off'>
  <header class='sheet-header'>
    <img class='profile-img' src='{{item.img}}' data-edit='img' title='{{item.name}}' />
    <div class='header-fields'>
      <h1 class='charname'>
        <input class="title-punk" name='name' type='text' value='{{item.name}}' placeholder='Name' />
      </h1>
      <div class='grid grid-2col'>
        <div class='resource flexcol flex-group-center'>
          <label class='resource-label'>{{localize "PUNKAPOCALYPTIC.SheetLabels.Type" }}</label>
          <select name="system.subtype" type="text" data-dtype='String'>
            {{#comparestring system.subtype ""}}
            <option value="" selected>{{localize "PUNKAPOCALYPTIC.SheetLabels.None"}}</option>
            {{/comparestring}}
            {{#each mutationTypes as |type|}}
            <option value="{{type.id}}" {{#comparestring @root/system.subtype type.id }} selected {{/comparestring}}>{{type.label}}</option>
            {{/each}}
          </select>
        </div>
        {{!-- {{#comparestring system.subtype "mental"}}
          <div class='resource flexcol flex-group-center'>
            <label class='resource-label'>{{localize "PUNKAPOCALYPTIC.SheetLabels.Mojo" }}</label>
            <input type='text' name='system.mojo' value='{{system.mojo}}' data-dtype='Number' />
          </div>
        {{/comparestring}} --}}
        
      </div>
    </div>
    
  </header>

  {{! Sheet Tab Navigation }}
  <nav class='sheet-tabs tabs nav-punk' data-group='primary'>
    <!--a class='item' data-tab='description'>Description</a-->
    <a class='item' data-tab='description'>{{localize "PUNKAPOCALYPTIC.SheetLabels.Description"}}</a>
  </nav>

  {{! Sheet Body }}
  <section class='sheet-body'>

    {{! Description Tab }}
    <!--div class='tab' data-group='primary' data-tab='description'>
      
    </div-->

    {{! Attributes Tab }}
    <div class='tab description' data-group='primary' data-tab='description'>
      {{! Editors must receive enriched text data from getData to properly handle rolls }}
      {{editor
      enrichedDescription
      target='system.description'
      engine='prosemirror'
      button=true
      editable=editable
      }}
    </div>
  </section>
</form>