{{! This template is a fallback for when items don't have more specific templates. }}
{{! Generally, you'll want to make more specific templates when possible. }}
<form class='{{cssClass}}' autocomplete='off'>
  <header class='sheet-header'>
    <img class='profile-img' src='{{item.img}}' data-edit='img' title='{{item.name}}' />
    <div class='header-fields'>

      <div class='grid grid-3col'>
        <div class="grid-span-3">
          <h1 class="resource flexcol flex-group-center">
            <input class="title-punk" name="name" type="text" value="{{item.name}}" placeholder="Name">
          </h1>
        </div>
        <div class='resource flexcol flex-group-center grid-span-1'>
          <label class='resource-label'>{{localize "PUNKAPOCALYPTIC.SheetLabels.Attribute"}}</label>
          <select name="system.ability.id" type="text" data-dtype='String'>
            {{#comparestring system.ability.id ""}}
            <option value="" selected>{{localize "PUNKAPOCALYPTIC.SheetLabels.None"}}</option>
            {{/comparestring}}
            {{#each abilities as |ability id|}}
            <option value="{{id}}" {{#comparestring @root/system.ability.id id }} selected {{/comparestring}}>{{localize
              ability}}</option>
            {{/each}}
          </select>
        </div>
        <div class='resource flexcol flex-group-center grid-span-1'>
          <label class='resource-label'>{{localize "PUNKAPOCALYPTIC.SheetLabels.Bonus"}}</label>
          <input type='text' name='system.ability.bonus' value='{{system.ability.bonus}}' data-dtype='Number' />
        </div>
        <div class='resource flexcol flex-group-center grid-span-1'>
          <label class='resource-label'>{{localize "PUNKAPOCALYPTIC.SheetLabels.Languages"}}</label>
          <input type='text' name='system.languages' value='{{system.languages}}' data-dtype='Number' />
        </div>
      </div>
    </div>

  </header>

  {{! Sheet Tab Navigation }}
  <nav class='sheet-tabs tabs nav-punk' data-group='primary'>
    <a class='item' data-tab='description'>{{localize "PUNKAPOCALYPTIC.SheetLabels.Description"}}</a>
    <a class='item' data-tab='attributes'>{{localize "PUNKAPOCALYPTIC.SheetLabels.Resources"}}</a>
    <a class='item' data-tab='talents'>Itens</a>
  </nav>

  {{! Sheet Body }}
  <section class='sheet-body'>

    {{! Description Tab }}
    <div class='tab' data-group='primary' data-tab='description'>
      {{! Editors must receive enriched text data from getData to properly handle rolls }}
      {{editor
      enrichedDescription
      target='system.description'
      engine='prosemirror'
      button=true
      editable=editable
      }}
    </div>

    {{! Attributes Tab }}
    <div class='tab attributes' data-group='primary' data-tab='attributes'>
      <div class="resources grid grid-6col">
      {{#each system.resources as |resource key|}}
          <div class="resource flex-group-center">
            <div class="resource-content flexrow flex-center flex-between">
              <div class="resource-balas" data-tooltip="{{localize (lookup @root.config.resources key)}}" style="background-image: url({{resource.icon}}); background-size: contain;
    background-position: center;
    background-repeat: no-repeat;">
              <input type="text" name="system.resources.{{key}}.value" value="{{resource.value}}" data-dtype="Number" style="z-index:9999;" />
              </div>
            </div>
          </div>
          {{/each}}
          </div>
      {{! As you add new fields, add them in here! }}
    </div>

    <div class='tab attributes' data-group='primary' data-tab='talents'>
      {{> "systems/punkapocalyptic/templates/item/parts/item-talents.hbs" items=initial_items  }}
      <h2>{{localize 'PUNKAPOCALYPTIC.SheetLabels.Benefits4Mission' }} </h2>
      {{> "systems/punkapocalyptic/templates/item/parts/item-talents.hbs" items=mission4_items }}
    </div>
  </section>
</form>